
body {
 font-family: 'poppins',Verdana,sans-serif;

}

code{
    background-color: #ccc;
    padding: 10px;
    margin:20px;
    display:block;

    border: 3px;
    border-style: solid;
    border-color: #777;

}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

li{
    padding: 10px 0px;
}

pre{
    font-family: monospace;

}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;
    margin:20px 0;
}

table th{
    text-align:left;
    padding: 15px 0;
}

table td{
    padding: 10px;
}

table tr:nth-child(even) {
    background-color: #E7E9EB;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

img{
    margin: 20px;
    max-width:90%;
}

.breadcrumb{
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ccc;
    border: 5px;
    border-style: solid;
    border-color: #ddd;
    width: fit-content;
}

.t1{
    text-align: center;
    padding:10px;
    background-color: #ccc;
    border: 5px;
    border-style: solid;
    border-color: #ddd;

}

.t2{
    float:left;
    width:50%;
    margin-right:50%;
    font-size:20px;
    font-weight:bold;
    padding:4px;
    color:#484848;
    background-color: #d0dcb7;
    border: 5px;
    border-style: solid;
    border-color: #b2bd9b;

}

.cab1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px;
    float:left;
    margin-bottom:10px;
    width:100%;

}


.cat1{
    width:30%;
    float:left;
    padding:5px;
    margin:10px;
    background-color: #ccc;
    border: 3px;
    border-style: solid;
    border-color: #ddd;

}

@media only screen and (max-width:1600px){
    .cat1{
        margin:0.8%;

    }

}

@media only screen and (orientation:portrait){
    .cat1{
        width:98%;
    }

    .row1{

        flex-wrap: wrap;
    }

}

.row1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:100%;
}

.prog{
    background-color: #ff7a7a;
    color: white;
}


.sis{
    background-color: #887aff;
    color: white;
}

.elec{
    background-color: #7aff8a;
    color: white;
}

.misc{
    background-color: #d87aff;
    color: white;
}


.tbsht{
    background-color: #e69706;
    color: white;
}

.ecnm{
    background-color: #ffe426;
    color: white;
}

.cont{

    float:left;
    padding: 15px;
}

.year{
  font-family: 'poppins',Verdana,sans-serif;
  font-size: 1em;
  color: gray;
  font-weight: bold;
}
